
h1{
    color: red;
    background-color: red;
    
}
p{
   background-color:coral; 
    color: cadetblue;
}
h5{
    background-color: cadetblue;
    color: black!important;
}
/*
.class1 #internalp{
    background-color: grey;
}*/
